#RegisterButton {
    font-family: 'Butcherman', cursive;
    font-size: 25px;
    border-Radius: 3;
    border: 1px solid white;
    color: white;
    padding: 0 20px;
}

#LoginButton {
    font-family: 'Butcherman', cursive;
    font-size: 25px;
    border-Radius: 3;
    border: 1px solid white;
    color: white;
    padding: 0 28px;
}
